<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.quant.stock_basic_update</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/zhangk/workspace/Quantitative_trading/venv/bin/python</string>
        <string>/Users/zhangk/workspace/Quantitative_trading/backend/collector/etl/init_data.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/zhangk/workspace/Quantitative_trading</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PG_PASSWORD</key>
        <string>990518</string>
        <key>TUSHARE_TOKEN</key>
        <string>6d5d9f045ba55813c8583e08eca3061eab07bbf69b044078b7a19c52</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
        <key>Weekday</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/zhangk/workspace/Quantitative_trading/logs/etl/stock_basic_update.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/zhangk/workspace/Quantitative_trading/logs/etl/stock_basic_update.err.log</string>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
